[user]
	name = Rony
	email = rony.yeung@gmail.com

[color]
	ui = auto

[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	df = diff
	dfc = diff --cached
	fp = format-patch
	lg = log -p
	st = status
